@model EmployeeViewModal

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = @ViewBag.Action + "  Employee";
}
<h1> @ViewBag.Action Employee </h1>
<form method="post">
    @if (ViewBag.Action == "Edit") {
        @Html.HiddenFor(m=> m.Employee.Id)
    }

    <div class="form-group">
        <label for="exampleFormControlInput1">Full Name </label>
        @Html.TextBoxFor(e => e.Employee.Name, new { @class = "form-control" })@Html.ValidationMessageFor(e => e.Employee.Name, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email </label>
        @Html.TextBoxFor(e => e.Employee.Email, new { @class = "form-control" })@Html.ValidationMessageFor(e => e.Employee.Email, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <Label for="exampleFormControlInput1">Please select your gender:</Label>
        <div class="form-check">
            @Html.RadioButtonFor(e => e.Employee.Gender, "Female", new { @class = "form-check-input" })@Html.ValidationMessageFor(e => e.Employee.Gender)
            <label class="form-check-label" for="exampleRadios1">Female</label>
        </div>
        <div class="form-check">
            @Html.RadioButtonFor(e => e.Employee.Gender, "Male", new { @class = "form-check-input" })@Html.ValidationMessageFor(e => e.Employee.Gender)
            <label for="exampleRadios1">Male</label>
        </div>
    </div>


        @{

            List<SelectListItem> myList = Model.Departments.Select(d => new SelectListItem
            {
                Text = d.Name,
                Value = d.Id.ToString()
            }).ToList();}

        <div class="form-group">
            @Html.LabelFor(e => e.Employee.FK_DepartmentId)
            @Html.DropDownListFor(e => e.Employee.FK_DepartmentId, myList, "Select Department", new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Employee.FK_DepartmentId, null, new { @class = "test-danger" })
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Address </label>@Html.TextAreaFor(e => e.Employee.Address, new { @class = "form-control" })@Html.ValidationMessageFor(e => e.Employee.Address)
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Salary </label>@Html.TextBoxFor(e => e.Employee.Salary, new { @class = "form-control" })@Html.ValidationMessageFor(e => e.Employee.Salary, null, new { @class = "text-danger" })
        </div>

        <input class="btn btn-primary" type="submit" value=@ViewBag.Action />
</form>
